#python, #go, #csharp, #ruby, #rust, #swift, #javascript {
  display: none;
}
body {
  background-color: rgb(156, 233, 156);
}
h1 {
  color: white;
  text-align: center;
  font-size: 70px;
}
h3 {
  color: #292b2c;
}